<h3>Comments</h3>

{% for comment in object.comments.all %}
    <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>
    {% if comment.author == user %}
        <a href="{% url 'comment-update' comment.pk %}">Edit</a>
        <a href="{% url 'comment-delete' comment.pk %}">Delete</a>
    {% endif %}
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
    <a href="{% url 'comment-create' object.pk %}">Add comment</a>
{% else %}
    <p>Login to comment</p>
{% endif %}
